includes:
  - vendor/lendable/phpunit-extensions/phpstan/rules.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - phar://vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - bin/composer-license-checker
        - src
        - tests
        - rector.php
    reportUnmatchedIgnoredErrors: true
    checkExplicitMixed: true
    tmpDir: tmp/phpstan
