name: "CI"

concurrency:
  group: "ci-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true

on:
  merge_group:
  pull_request:

jobs:
  ci:
    name: "Execute (PHP ${{ matrix.php-version }} with ${{ matrix.dependencies }} deps, composer v${{ matrix.composer-version}}.x, symfony v${{ matrix.symfony-version }})"
    runs-on: "ubuntu-24.04"

    strategy:
      matrix:
        dependencies:
          - "lowest"
          - "locked"
          - "highest"
        php-version:
          - "8.4"
          - "8.5"
        composer-version:
          - "2.9"
        symfony-version:
          - "5.4.*"
          - "6.4.*"
          - "7.3.*"
          - "7.4.*"
          - "8.0.*"

    steps:
      - name: "Checkout"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          show-progress: false

      - name: "Install PHP"
        uses: "shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1" # v2
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: "composer:${{ matrix.composer-version }}"

      - name: Setup Symfony Flex
        if: ${{ matrix.dependencies != 'locked' }}
        shell: bash
        run: |
          composer global config --no-plugins allow-plugins.symfony/flex true
          composer global require --no-progress --no-scripts --no-plugins symfony/flex

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: "${{ matrix.dependencies }}"
        env:
          SYMFONY_REQUIRE: "${{ matrix.symfony-version }}"

      - name: Remove Symfony Flex
        if: ${{ matrix.dependencies != 'locked' }}
        shell: bash
        run: |
          composer global config --no-plugins allow-plugins.symfony/flex false
          composer global remove symfony/flex

      - name: "Validate Composer dependencies"
        run: "composer validate"

      - name: "Check composer.json normalization"
        run: "composer normalize --dry-run"

      - name: "Run security check"
        if: ${{ matrix.composer-version != '2.2' }}
        run: "composer security:check"

      - name: "Check licenses (composer installed.json provider)"
        run: "composer license:check -- --provider-id=json -v"

      - name: "Check licenses (composer licenses provider)"
        run: "composer license:check -- --provider-id=licenses -v"

      - name: "Run coding style"
        if: ${{ matrix.dependencies == 'locked' && matrix.php-version == '8.4' }}
        run: "composer code-style:check"

      - name: "Run PHPStan"
        if: ${{ matrix.dependencies == 'locked' }}
        run: "composer phpstan"

      - name: "Run Rector"
        if: ${{ matrix.dependencies == 'locked' && matrix.php-version == '8.4' }}
        run: "composer rector:check"

      - name: "Unit tests"
        run: "composer tests:unit"

      - name: "End-to-End tests"
        run: "composer tests:e2e"
