name: Sloth

on:
  pull_request:
  merge_group:

jobs:
  sloth:
    runs-on: ubuntu-24.04
    steps:
      - name: Sloth
        uses: lendable/sloth@1d0ce54a04a834366b4af63362ffd0a58fc447ad # v0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          ignored: |
            Validate PR title
